@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  --foreground: #080808;
  --background: #ffffff;
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
}
